<!DOCTYPE html>
<html lang="en" style="background: linear-gradient(135deg, #00b90c, #ffa200);">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title> Forgot Password </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="login-box">
        {% if showCaptcha %}
        <h2>Forgot Password</h2>
        <a style="color:red;">{{ message }}</a> <br>
        <form action="{{ url_for('forgotPassword') }}" method="post">
            <div class="input-group">
                <input type="password" name="newPassword" placeholder="Enter the new password"
                    title="Password must contain at least one uppercase letter, one lowercase letter, one number, one special character, and at least 8 characters"
                    required>
            </div>
            <div class="input-group">
                <input type="password" name="reEnterPassword" placeholder="Re-enter the new password"
                    title="Password must contain at least one uppercase letter, one lowercase letter, one number, one special character, and at least 8 characters"
                    required>
            </div>
            <div class="login-image">
                <img src="{{ url_for('static', filename='assets/CAPTCHA/' + imageName) }}" alt="CAPTCHA">
            </div>
            <div class="input-group">
                <input type="text" name="otp" placeholder="Enter the CAPTCHA" required>
            </div>
            <button type="submit" class="login-btn"
                style="background: linear-gradient(135deg, #ffa200, #00b90c);">VERIFY</button>
        </form>
        <a>Number of attempts remaining: {{ attemptsRemaining }}</a>
        {% else %}
        <div class="login-image">
            <img src="{{ url_for('static', filename='assets/PSG_Tech.png') }}" alt="Login Icon">
        </div>
        <h2>Forgot Password</h2>
        <form action="{{ url_for('forgotPassword') }}" method="post">
            <div class="input-group">
                <input type="text" name="email" placeholder="Email" required>
            </div>
            <button type="submit" class="login-btn" style="background: linear-gradient(135deg, #00b90c, #ffa200);">CLICK
                TO RESET</button>
            <a href="{{ url_for('memberLogin') }}" class="forgot-link">→ Member Login</a>
            <a href="{{ url_for('studentLogin') }}" class="forgot-link">→ Student Login</a>
        </form>
        {% endif %}
    </div>
</body>

</html>