<!DOCTYPE html>
<html lang="en" style="background: linear-gradient(135deg, #b90000, #005eff);">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Member Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="login-box">
        <div class="login-image">
            <img src="{{ url_for('static', filename='assets/psg_tech.png') }}" alt="Login Icon">
        </div>
        <h2>Member Login</h2>
        <a style="color:red;">{{message}}</a> <br>
        <form action="{{ url_for('memberLogin') }}" method="post">
            <div class="input-group">
                <input type="text" name="username" placeholder="Username / Email" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="login-btn"
                style="background: linear-gradient(135deg, #b90000, #005eff);">LOGIN</button>

            <a href="{{ url_for('forgotPassword') }}" class="forgot-link">Forgot Password?</a>
            <a href="{{ url_for('studentLogin') }}" class="forgot-link">→ Student Login</a>
        </form>
    </div>

</body>

</html>